PORT=4001
JWT_SECRET=change_me
DATABASE_URL="postgresql://arcsend:arcsend@localhost:5432/arcsend?schema=public"
CIRCLE_API_KEY=TEST_API_KEY:<key_id>:<key_secret>
CIRCLE_BASE_URL=https://api.circle.com
CIRCLE_WALLET_SET_ID=
CIRCLE_ENTITY_SECRET=
CIRCLE_WALLET_ID=
CIRCLE_WALLET_ADDRESS=
CIRCLE_WALLET_BLOCKCHAIN=

# Arc Testnet execution config
CIRCLE_WALLET_ID_ARC_TESTNET=
CIRCLE_WALLET_ADDRESS_ARC_TESTNET=
CIRCLE_WALLET_BLOCKCHAIN_ARC_TESTNET=ARC-TESTNET
CIRCLE_USDC_ADDRESS_ARC_TESTNET=0x3600000000000000000000000000000000000000

# Base Sepolia execution config
CIRCLE_WALLET_ID_BASE_SEPOLIA=
CIRCLE_WALLET_ADDRESS_BASE_SEPOLIA=
CIRCLE_WALLET_BLOCKCHAIN_BASE_SEPOLIA=BASE-SEPOLIA
CIRCLE_USDC_ADDRESS_BASE_SEPOLIA=

# Ethereum Sepolia execution config
CIRCLE_WALLET_ID_ETH_SEPOLIA=
CIRCLE_WALLET_ADDRESS_ETH_SEPOLIA=
CIRCLE_WALLET_BLOCKCHAIN_ETH_SEPOLIA=ETH-SEPOLIA
CIRCLE_USDC_ADDRESS_ETH_SEPOLIA=

# Polygon Amoy execution config
CIRCLE_WALLET_ID_MATIC_AMOY=
CIRCLE_WALLET_ADDRESS_MATIC_AMOY=
CIRCLE_WALLET_BLOCKCHAIN_MATIC_AMOY=MATIC-AMOY
CIRCLE_USDC_ADDRESS_MATIC_AMOY=

# Solana Devnet execution config
CIRCLE_WALLET_ID_SOL_DEVNET=
CIRCLE_WALLET_ADDRESS_SOL_DEVNET=
CIRCLE_WALLET_BLOCKCHAIN_SOL_DEVNET=SOL-DEVNET
CIRCLE_USDC_ADDRESS_SOL_DEVNET=

MOCK_CIRCLE=true
